{% extends 'base.html.twig' %}

{% block title %}Charlotte SAURY
{% endblock %}

{% block body %}
	<div class="home-header">
		<div class="home-title-div">
			<h1>Charlotte Saury</h1>
			<h2>Développeuse Web PHP/Symfony à l'écoute d'opportunités sur la région de Vannes</h2>
			<div class="home-header-btn">
				<a href="#contactForm" class="custom-btn">Me contacter</a>
				<a href="{{ asset('pdf/cv_saury.pdf') }}"  download="cv_saury.pdf" class="custom-btn">Mon CV</a>
			</div>
		</div>
	</div>

	<div class="header-after-section"></div>

	<div class="about-div section" id="aboutSection">
		<div class="photo-div" data-aos="fade-right" data-aos-duration="2000">
			<div class="photo"></div>
		</div>
		<div class="about-text-div" data-aos="fade-left" data-aos-duration="2000">
			<h3 class="photo-title">A propos</h3>
			<p>Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Fusce egestas elit eget lorem. Fusce neque. Phasellus blandit leo ut odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Praesent ac sem eget est egestas volutpat. Fusce ac felis sit amet ligula pharetra condimentum. Morbi mattis ullamcorper velit. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed aliquam ultrices mauris.</p>
		</div>
	</div>
	<div class="about-after-section"></div>

	<div class="skills-div section">
		<div class="div-section-title">
			<h3>Mes compétences</h3>
			<p>Compétences acquises durant mon parcours de formation OpenClassrooms et sur des projets annexes. Je reste en veille sur ces technologies pour continuer à monter en compétences!</p>
		</div>

		<div class="skills-div-skills">
			<div class="language-div skills-card-div">
				<div class="skills-card-title">
					<h4>Languages</h4>
				</div>
				<div class="skills-card-content">
					<div class="skills-card-content-text"></div>
					<div class="skills-card-content-logo">
						{% for techno in technos %}
							{% if techno.type == 'language' %}
								<div class="techno-card">
									<img src="{{ asset('images/techno/' ~ techno.image ) }}" alt="{{ techno.title }}" width="50"/>
									<div class="techno-level">
										{% for i in 1..techno.level %}
											<div class="skills-plain-level"></div>
										{% endfor %}
										{% if techno.level != 5 %}
											{% for i in (techno.level + 1)..5 %}
												<div class="skills-empty-level"></div>
											{% endfor %}
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

				</div>
			</div>
			<div class="framework-div skills-card-div">
				<div class="skills-card-title">
					<h4>Frameworks</h4>
				</div>
				<div class="skills-card-content">
					<div class="skills-card-content-text"></div>
					<div class="skills-card-content-logo">
						{% for techno in technos %}
							{% if techno.type == 'framework' %}
								<div class="techno-card">
									<img src="{{ asset('images/techno/' ~ techno.image ) }}" alt="{{ techno.title }}" width="50"/>
									<div class="techno-level">
										{% for i in 1..techno.level %}
											<div class="skills-plain-level"></div>
										{% endfor %}
										{% if techno.level != 5 %}
											{% for i in (techno.level + 1)..5 %}
												<div class="skills-empty-level"></div>
											{% endfor %}
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

				</div>
			</div>
			<div class="tools-div skills-card-div">
				<div class="skills-card-title">
					<h4>Outils</h4>
				</div>
				<div class="skills-card-content">
					<div class="skills-card-content-text"></div>
					<div class="skills-card-content-logo">
						{% for techno in technos %}
							{% if techno.type == 'tool' %}
								<div class="techno-card">
									<img src="{{ asset('images/techno/' ~ techno.image ) }}" alt="{{ techno.title }}" width="50"/>
									<div class="techno-level">
										{% for i in 1..techno.level %}
											<div class="skills-plain-level"></div>
										{% endfor %}
										{% if techno.level != 5 %}
											{% for i in (techno.level + 1)..5 %}
												<div class="skills-empty-level"></div>
											{% endfor %}
										{% endif %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="skills-after-section"></div>

	<div class="portfolio-div section" id="porfolioSection">
		<div class="div-section-title">
			<h3>Mes dernières réalisations</h3>
			<p>Réalisés dans le cadre de ma formation ou à des fins personnelles, je vous invite à parcourir les différents projets que j'ai réalisés.</p>
		</div>
		{% include "realization/portfolio_div_realizations.html.twig" %}


		<a href="{{ path('realization.index') }}" class="custom-btn">Voir toutes les réalisations</a>
	</div>

	<div class="portfolio-after-section"></div>

	<div class="contact-div section" id="contactForm">
		<h3>Me contacter</h3>
		<p>C'est avec plaisir que j'échangerai avec vous pour discuter plus en détails de mon parcours, de mes compétences et de ma motivation. N'hésitez pas à me contacter par téléphone, par mail, via mon profil <a class="custom-link" href="https://www.linkedin.com/in/charlottesaury">LinkedIn</a> ou encore grâce au formulaire de contact ci-dessous.</p>
		{% for message in app.flashes('success') %}
			<div class="alert-success">
				<i class="fas fa-check"></i>{{ message }}
			</div>
		{% endfor %}
		<div class="contact-infos">
			<a class="custom-link" href="tel:+33 (0)6 48 08 35 40"><i class="fas fa-phone-square"></i>06 48 08 35 40</a>
			<a class="custom-link" href="mailto:saury.charlotte@wanadoo.fr"><i class="fas fa-envelope"></i>saury.charlotte@wanadoo.fr</a>
			<a class="custom-link" target="_hblank" href="https://www.google.com/maps/place/56250+Saint-Nolff/@47.7213156,-2.8858925,10.44z/data=!4m5!3m4!1s0x480fe0596ca7019d:0x40ca5cd36e2bbc0!8m2!3d47.702885!4d-2.651779"><i class="fas fa-map-marker-alt"></i>16 rue du bois, 56250, ST Nolff</a>
		</div>
		<div class="contact-form">
			{{ form_start(contact) }}
			<div class="contact-form-input">
				<div class="contact-form-name">
					{{ form_row(contact.name, {attr: {"placeholder": "Votre nom"}}) }}
					{{ form_row(contact.email, {attr: {"placeholder": "Votre email"}}) }}
					{{ form_row(contact.subject, {attr: {"placeholder": "Sujet"}}) }}
				</div>
				<div class="contact-form-message">
					{{ form_row(contact.content, {attr: {"placeholder": "Votre message", "rows": 8}}) }}
				</div>
			</div>
			<div class="contact-form-submit">
				<button type="submit" class="custom-btn">
					<i class="fas fa-paper-plane"></i>
				</button>
				
			</div>
			{{form_end(contact) }}
		</div>


	</div>

{% endblock %}
