<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="Charlotte SAURY, développeuse, web, Morbihan, PHP, Symfony, Vannes, Morbihan">
		<meta name="description" content="Charlotte SAURY, développeuse web PHP/Symfony junior dans le Morbihan, à l'écoute d'opportunités"> {% block meta %}{% endblock %}

		<title>
			{% block title %}Charlotte SAURY
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{ asset('css/style.css') }}">


			<!-- fonts -->
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Heebo:wght@100;300&family=Lobster&display=swap" rel="stylesheet">

			<link
			rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
			<!-- animate.css -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
			<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		{% endblock %}
	</head>
	<body>
		<nav class="nav">
			<a class="logo" href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo"/></a>
			<div class="top-nav">
				<a href="{{ path('home') }}">Accueil</a>
				<a href="#aboutSection">A propos</a>
				<a href="#porfolioSection">Réalisations</a>
				<a href="#">Parcours</a>
				<a href="#contactForm">Contact</a>
			</div>
			<button id="nav-burger-button">&#9776;</button>
		</nav>
		<div id="nav-burger-sidebar">
			<div id="nav-burger-sidebar-header"></div>
			<div id="nav-burger-sidebar-body"></div>
		</div>
		<div id="nav-overlay"></div>

		{% block body %}{% endblock %}

		<div class="footer-before-section"></div>
		<footer>
			<div class="footer-networks">
				<a href="https://www.linkedin.com/in/charlottesaury/" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
				<a href="https://github.com/CharlotteSaury" target="_blank">
					<i class="fab fa-github"></i>
				</a>
			</div>
			<div class="footer-mentions">
				<p>Copyright
					<i class="far fa-copyright"></i>
					Charlotte Saury 2020 |
					<a href="">Mentions légales</a>
				</p>
			</div>
		</footer>

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="{{ asset('js/main.js') }}"></script>
			<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
			<script>
				AOS.init();
			</script>
		{% endblock %}
	</body>
</html>
