{% extends 'dashboard.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block contenttitle %}Nouvelle réalisation{% endblock %}

{% block body %}
	{{ form_start(form) }}

        <h4>Informations</h4>
        {{ form_row(form.title) }}
        {{ form_row(form.context) }}
        {{ form_row(form.imageFile) }}

        <h4>Date de réalisation</h4>

        {{ form_row(form.createdAt) }}

        <h4>Liens</h4>

        {{ form_row(form.url) }}
        {{ form_row(form.github) }}
        {{ form_row(form.defense) }}

        <h4>Technologies utilisées</h4>

        {{ form_row(form.technos) }}

        <h4>Description</h4>

        {{ form_row(form.shortDesc) }}
        {{ form_row(form.description) }}

        <div>
            <h4>Attentes du projets</h4>
            <ul id="expectations-fields-list"
                data-prototype="{{ form_widget(form.expectations.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.expectations|length }}">
                {% for expectationField in form.expectations %}
                    <li>
                        {{ form_errors(expectationField) }}
                        {{ form_widget(expectationField) }}
                    </li>
                {% endfor %}
            </ul>

            <button type="button"
                class="add-another-collection-widget custom-btn"
                data-list-selector="#expectations-fields-list">Nouvelle attente
            </button>
        </div>
        
        <div>
            <h4>Compétences</h4>
            <ul id="skills-fields-list"
                data-prototype="{{ form_widget(form.skills.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.skills|length }}">
                {% for skillField in form.skills %}
                    <li>
                        {{ form_errors(skillField) }}
                        {{ form_widget(skillField) }}
                    </li>
                {% endfor %}
            </ul>

            <button type="button"
                class="add-another-collection-widget custom-btn"
                data-list-selector="#skills-fields-list">Nouvelle compétence
            </button>
        </div>

        <div class="dashboard-form-submit">
            <button type="submit" class="custom-btn">{% if action is defined and action == "edit" %}Editer{% else %}Ajouter{% endif %}</button>
        </div>
        
        
    {{ form_end(form) }}
{% endblock %}